* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box; 
    font-family: 'Kanit', sans-serif;
}

body {
    height: 100vh; 
    margin: 0px;
    display: grid;
    grid-template-rows: 75px 1fr 1fr 50px;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "cabecalho"
    "banner-principal"
    "principal"
    "rodape";
}

/*************************************CABEÇALHO E MENU************************************************/

.cabecalho {
    grid-area: cabecalho;
    background-color: #202020;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-logo-menu {
    margin: 10px 50px;
    cursor: pointer;
}

.menu {
    display: flex;
    margin-right: 50px;
}

.menu > ul {
    display: flex;
    margin: 0px;
    padding: 0px; 
    list-style: none; /*tira os pontos da lista*/
    align-items: center;
}

.menu > ul > li {
    padding: 20px;
    font-size: 1.8rem;
    cursor: pointer;
}

.menu > ul > li a{
    display: flex;  
}
.menu > ul > li a img{
    margin-left: 10px;
    
}


.menu > ul > li:hover {
    background-color: #ffffff;
    transition: 0.5s;
}

.menu > ul > li:hover a{
    color: #202020;
    transition: 0.5s;
}

.img-balao-contato{
    width: 40px;
    height: 40px;
    margin-left: -15px;
}

.menu > ul > li > a {
    font-weight: 200;
    font-style: italic;
    text-decoration: none;
    color: rgb(214, 208, 208);
}

/*************************************BANNER PRINCIPAL************************************************/

.banner-principal {
    grid-area: banner-principal;
    background-color:#fff;
    display: flex;
}

.banner-principal > img {
    width: 90%;
    margin: auto;
}

/*************************************CONTEUDO************************************************/

.principal {
    grid-area: principal;
    background-color: rgba(224, 222, 215, 0.404);
    margin: 2% 5%;
    padding: 1%;
    box-shadow: inset 0px 0px 13px 1px rgba(0,0,0,0.2);
    
}

.conteudo {
    display: flex;
    margin: 20px;
   
}

.conteudo div{
    margin-left: 20px;
    margin-right: 20px;
}

.conteudo li{
    font-size: 1.6rem;
    font-weight: 250;
    text-align: justify;
}

.conteudo ul{
    margin-left: 6%;
}
.conteudo div p {
    font-size: 1.8rem;
    font-weight: 250;
    text-align: justify;
}

.conteudo div h1 {
    font-size: 2rem;
    font-weight: 400;
    text-align: justify;
}

.conteudo img {
    border: 1px solid rgba(34, 34, 34, 0.267);
}

/*************************************RODAPÉ************************************************/
.rodape {
    grid-area: rodape;
    background-color: #202020;
}

/*************************************WHATSAPP************************************************/

.whatsapp-link {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    font-size: 40px;
    box-shadow: 1px 1px 2px #888;
    z-index: 1000;
}

/*************************************FOTOS PRODUTOS************************************************/

.foto {
    display: inline-block;
    width: 32.6%;
    background-color: #202020;
    margin: 3px;
}

.foto img{
    padding: 5px;
    padding-bottom: 0;
    width: 100%;
}

.foto div{
    padding: 5px;
    padding-top: 0;
}

.foto div h1{
    margin: 0;
    color: rgb(226, 223, 223);
    font-weight: 300;
}

.foto div p{
    margin: 0;
    color: rgb(226, 223, 223);
    font-weight: 200;
}


/*************************************MAPS************************************************/

.mapas {
    height: calc(100vh - 75px);
    width: 50%;
    padding: 2.5%;
    padding-top: 5%;
}

.dados {
    background-color: rgb(215, 215, 224);
    width: 50%;
    height: calc(100vh - 75px);
    padding: 5%;
    font-size: 1.5rem;
    font-weight: 250;
    text-align: justify;

}

.maps-dados {
    display: flex;
}


/*************************************FORMULARIO************************************************/


form {
    margin-left: calc(50vw - 300px);
    margin-top: 50px;
    width: 50vw;
    font-family: Verdana,Tahoma,sans-serif;
    font-size: 15px;
    background-color: #d1d0cf;
    width: 600px;
    height: 500px;
    border-radius: 20px;
    box-shadow: inset 0px 0px 13px 1px rgba(0,0,0,0.2);
}

form h1 {
    display: flex;
    font-size: 2.2rem;
    font-weight: 300;
    font-style: italic;
    text-decoration: none;
    justify-content: center;
    margin-top: 10px;
}

input, textarea {
    width: 300px;
    padding: 10px;
    color: black;
    margin-left: 20px;
    margin-top: 10px;
    border: 1px solid;
    border-radius: 5px;
}

input:hover, textarea:hover, input:focus, textarea:focus {
    background-color: #f4fcd1;
    color: black;
}

.enviar {
    background-color: #fca420;
    height: 40px;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border: 1px solid rgba(209, 187, 187, 0);
    color: rgb(255, 255, 255);
    position: absolute; 
}

.btenviar {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;


}

textarea {
    width: 550px;
    height: 200px;
    line-height: 20px;
    max-width: 550px;
    border-radius: 5px;
}

form label {
    font-size: 1.1rem;
    font-weight: 500;
    margin-left: 10px;
    color: #000000;
}